@import url("https://fonts.googleapis.com/css?family=PT+Sans+Narrow");

body
{
   margin-top: 40px;
   font-family: 'PT Sans Narrow', sans-serif !important;
  background: #000000; /* fallback for old browsers */
  background: linear-gradient(to left, #000000, #434343);
}
.container
{
  width: 50%;
  margin: auto;
  background-color: #fff;
  padding: 20px 0px;
}
.input-area
{
   width: 80%;
   margin: auto;
}
#todo_input
{
    width: 100%;
    display: block;
}
.btn-primary
{
    display: block;
    width: 100%;
    margin: 10px 0px;
}
h1
{
    text-align: center;
    
}
.emptyAlert{
    border: 1px solid #FF3031;
}

.wrapper
{
    width: 50%;
   margin: auto;
   padding: 20px 0px; 
}
.alltodos 
{
    width: 100%;
    list-style-type: none;
    display: block;
    padding: 0;

}
.alltodos li{
    display: block;
    width: 100%;
    background-color: #fff;
    text-align: center;
    text-transform: capitalize;
    margin: 5px 0px;
}
.remove_list
{
    display: block;
    width: 100%;
   background-color: #D63031;
   cursor: pointer;
   border: none;
   color: #fff;
   transition: all 0.5s;
}
.remove_list:hover
{
   background-color: #E71C23;
}


@media(max-width: 700px){
 .container
 {
     margin-top: 100px;
 }
 .container h1{
     font-size: 20px;
 }
}